.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/schemas
!src/schemas/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts